<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %d{HH:mm:ss.SSS} [%thread] %15logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.shivas" level="TRACE"/>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>